// Remove any .dark-mode styles affecting .about-section
// Ensure no .dark-mode class is applied to parent elements

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background-image: url("../images/bg-light.png") !important; // Use the light background
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-color: white !important; // Ensure background is light
    color: black !important; // Ensure all text is black
}

.about-section * {
    color: black !important; // Ensure all child elements have black text
}

.about-section .content {
    text-align: left;
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: black !important; // Icons in black

        svg {
            font-size: 1.8em;
            color: black !important; // SVG icons in black
        }
    }

    .mobile_social_icons {
        display: none;
        color: black !important; // Mobile icons also in black

        svg {
            font-size: 1.8em;
            color: black !important; // SVG icons in black
        }
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: black !important; // Paragraph text in black
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: black !important; // Heading text in black
    }
}

.about-section .image-wrapper {
    z-index: 2;

    img {
        width: 150px;
        border-radius: 50%;
    }
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
    color: black !important; // Ensure any other paragraphs are black
}

@media screen {
    @media (max-width: 567px) {
        .nav-left {
            padding-top: 20px;
            float: left;
        }

        .nav-left img {
            height: 35px;
        }

        .nav-right {
            float: right;
        }

        .nav-right li {
            padding: 10px 15px;
            list-style: none;
            font-size: 13px;
            color: black !important; // Nav text in black
            width: 10%;
        }

        .nav-right ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
            background-color: white !important; // Ensure body background is light
            color: black !important; // Ensure body text is black
        }

        .about {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 12px;
            color: black !important; // Ensure about text is black
        }
    }

    @media (max-width: 768px) {
        .about-section h1 {
            font-size: 4em !important;
            text-align: left;
            color: black !important; // Heading text in black
        }

        .about-section p {
            text-align: left;
            color: black !important; // Paragraph text in black
        }

        .container {
            display: initial;
        }

        .social_icons {
            display: none !important;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 10px;
            color: black !important; // Mobile icons in black

            svg {
                font-size: 1.8em;
                color: black !important; // SVG icons in black
            }
        }

        .about-section {
            padding-top: 150px;
            display: block;
            padding-left: 0px;
            padding-right: 0px;
            background-color: white !important; // Ensure background is light
        }

        .about-section .content {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
            color: black !important; // Ensure content text is black
        }

        .about-section .image-wrapper {
            padding-left: 5%;
            width: 100%;
        }
    }
}
